
@{   
}
<div class="content-wrapper">
    <div class="container">
        <table class="table table-bordered" id="tbl_books">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Published_On</th>
                    <th>Author Name</th>
                    <th>Author Email</th>
                    <th>Author Mobile</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
       $(document).ready(function () {
           LoadBooks();
       })
    function LoadBooks() {
         $.get('@Url.Action("GetBooks","Books")', function (response) {
               //console.log(response)
               $("#tbl_books").DataTable({
                   data: response,
                   columns: [
                       {data:"id"},
                       {data:"title"},
                       {data:"price"},
                       {data:"quantity"},
                       {data:"published_On"},
                       { data: "authorName" },
                       { data: "authorEmail" },
                       {
                           data: "authorMobile", render: function (authorMobile) {
                               return "+91 "+authorMobile
                           }
                       },
                       {
                           data: "id", render: function (id) {
                               return "<a href='#' onclick=DeleteBook("+id+")><i class='fa fa-trash text-danger'></i></a>"
                           }
                       }

                   ]
               })
           })
    }
    function DeleteBook(id) {
        if (confirm("Are you sure to remove this book !")) {
            $.post('@Url.Action("DeleteBook","Books")', {id: id}, function (response) {

                console.log(response)
                if (response.ok) {
                    $("#tbl_books").DataTable().destroy()
                    LoadBooks();
                }
            })
        }
    }
</script>

